<h2>Moco app timings</h2>
@if (mocoSettings()?.mocoAppBaseAddress && mocoSettings()?.apiKey) {
  @if (intervals()) {
    <p>Current: {{ totalWorkToday() | toTime }}</p>
    <p>Left: {{ timeLeft() | toTime }}</p>
    <p>When: {{ whenStop() }}</p>
    <div >
      @for(interval of intervals(); track interval.startTime) {
        <p>{{interval.startTime}} - {{interval.endTime}} | {{interval.description}}
          @if (interval.isRunning) {
            | *
          }
          </p>
      }
    </div>
  }
} @else {
  <app-moco-settings></app-moco-settings>
}

