<h2>Moco app timings</h2>
@if (mocoSettings()?.mocoAppBaseAddress && mocoSettings()?.apiKey) {
  @if (intervals()) {
    <div>
      <div class="auto-center">
        <div class="progress-labels">
          <div class="auto-center" [style.width.%]="totalWorkTodayPercent()">{{ totalWorkToday() | toTime }}</div>
          <div class="auto-center" [style.width.%]="100 - totalWorkTodayPercent()"> - {{ timeLeft() | toTime }}</div>
        </div>
      </div>
      <div class="auto-center">
        <div>{{ starTime() }}</div>
        <mat-progress-bar
          style="width: 90%"
          color="accent"
          mode="determinate"
          [value]="totalWorkTodayPercent()"
        >
        </mat-progress-bar>
        <div>{{ whenStop() }}</div>
      </div>
    </div>

    @if (pauseTime() > 0) {
      <div class="task-row">
        <div class="task-labels">
          <div style="width: 90%">
            Pause
            | {{ pauseTime() | toTime }}
          </div>
        </div>
        <div class="auto-center">
          <mat-progress-bar
            style="width: 90%"
            color="warn"
            mode="determinate"
            [value]="pauseTimePercent()"
          >
          </mat-progress-bar>
        </div>
      </div>
    }

    @for (interval of intervals(); track interval.startTime) {
      <div class="task-row">
        <div class="task-labels">
          <div style="width: 90%">
            {{ interval.description }}
            | {{ interval.durationInSeconds | toTime }}
            @if (interval.isRunning) {
              *
            }
          </div>
        </div>
        <div class="auto-center">
          <mat-progress-bar
            style="width: 90%"
            color="primary"
            mode="determinate"
            [value]="interval.durationInPercent"
          >
          </mat-progress-bar>
        </div>
      </div>
    }

  }
} @else {
  <app-moco-settings></app-moco-settings>
}

